*{
    margin: 0;
    padding: 0;
}
.banner{
    background: url("../images/donation2.jpg") no-repeat center center / cover;
    height: 669px;
} 

.banner-tittle{
    text-align: center;
    padding: 174px 307px;
}
.banner-sub-tittle{
    width: 826px;
    height: 158px;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner-description{
    width: 691px;
    height: 56px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.banner-btn{
    text-align: center;
    

}
.btn-primary{
    padding: 16px 20.5px;
    border: 1px solid #FF5959;
    border-radius: 5px;
    background: #FF5959;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

.donate-tittle{
    text-align: center;
    padding-top: 66px;
    padding-bottom: 116px;
}

.donate-money ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}


.donate-money ul li{
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
    padding: 43px 23px;
   
    border-radius: 5px;

    
}

.donate-money ul li:hover{
    background: #FF5959;
    border: 2px solid #FF5959;
}

.donate-tk{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 9.5px;
    color: #B3B3B3;
}
.btn-donate{
    margin-top: 30px;
    text-align: center;
}

.donate-plan-tittle{
    text-align: center;
    margin-top: 130px;
    
}
.donate-description{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    padding-left: 375px;
    padding-right: 374px;
}
.help-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.container{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
.container img{
   padding-top: 64px;
   padding-left: 23px;
   padding-bottom: 31px;
}
.container .help-tittle{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    padding-bottom: 16px;
}
.container .help-description{
    padding-left: 18px;
    padding-right: 22px;
    padding-bottom: 53px;
}
.donation-item img{
    width: 300px;
    height: 250px;

}
.donation-contribution{
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    gap: 83px;
    flex-grow: 1;
    margin-top: 183px;
    justify-content: center;
}
.donation-item{
    max-width: 300px;
}
.donation-tittle{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}
.donation-description-first{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}
.donation-description-second{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}
.btn-donation{
    margin-top: 5px;
    padding: 16px 21px;
    background: #FF5959;
    color: #FFFFFF;
    border: 2px solid #FF5959;
    
}

